body{

    padding:0px;
    border: 0px;

    font-family: 'Karla', sans-serif;
    font-size: 16px;
    }

   .intro{
     margin-bottom: 50px;
   }


  .intro>h2{
       color: hsl(179, 62%, 43%);
       font-weight: 700;
  }

  .introp1{
    color: hsl(71, 73%, 54%);
  }
  .introp2{
    margin-bottom: 8px;
  }

  .introp3{
    margin-top: 0px;
  }

  .introp2 , .introp3{
    color: hsl(218, 22%, 67%);
    font-weight: 400;
  }

  .intro, .charges, .why-us {
    margin: 50px;
  }

  .bottomcontainer{
    width:inherit;
    background-color: hsl(179, 62%, 43%);
    color: hsl(204, 43%, 93%);

  }


.span-1{

  font-size: 40px;
  color: #ffffff;
}

.span-2{
  position: relative;
  bottom: 8px;
  left: 8px;
}




.charges,.why-us{


  display: inline-block;

  width: 400px;
  height: 250px;
  background-color: hsl(179, 62%, 50%);


}

.charges-p2{
  margin-bottom: 40px;

  font-size:160%;
}




  button{
    width: 400px;
    height: 50px;
    border: 0px;
    border-radius: 8px;
    color: inherit;
    background-color: hsl(71, 73%, 54%);
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    font-weight: 400;
  }


  .why-us{

    padding-left: 40px;
    position: relative;
    bottom: -5px;

  }

  ul {
    list-style-type: none;
    padding-left: 0px;

  }

 li{
   margin-bottom: 7px;
 }



  .why-us-h3{
    padding-bottom: 10px;
  }
